/* sidebar */

@media(min-width:958px) {
    .sidebar {
        line-height: normal;
        min-width: 190px;
    }
}

@media(max-width:957px) {
    .sidebar {
        min-width: 55px;
    }
    /* make navbar border fill the complete width */
    .z-navbar-vertical{
        max-width: 100%;
    }
}

.user-logo {
    padding: 20px 0;
}

/** make font consistent with ZK
*/
.highcharts-legend-item >text{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container-fluid{
    background-color: #f9fcff;
}