/* sidebar */

@media(min-width:958px) {
    .sidebar {
        min-width: 190px;
        line-height: normal;
    }
}

@media(max-width:957px) {
    .sidebar {
        min-width: 55px;
    }
    /* make navbar border fill the complete width */
    .z-navbar-vertical{
        max-width: 100%;
    }
}

.user-logo {
    padding: 20px 0;
}