/* sidebar */

@media(min-width:768px) {
    .sidebar {
        flex: 0 0 190px;
    }
}

@media(max-width:767px) {
    .sidebar {
        flex: 0 0 55px;
    }
}

.user-logo {
    padding: 20px 0;
}
.sidebar .z-grid {
    border: none;
}

.sidebar .z-row {
    border: none;
    cursor: pointer;
}

.sidebar .z-cell {
    padding: 12px 12px;
}
