.state-box{
    height: 115px;
    border-width: 1px 1px 1px 5px;
    border-top-color: #d9d9d9;
    border-right-color: #d9d9d9;
    border-bottom-color: #d9d9d9;
    border-left-color: var(--bs-color);
    border-style: solid;
    background-color: white;
}
